body {
    background-color: #4C4E52;
    color: #b9b6b1;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: #cc5500;
}

nav>ul {
    display: inline-block;
}

nav>ul>li {
    display: inline-block;
}

#posts {
    display: flex;
    padding: 5px;
    gap: 10px; /* Adjust the value to your desired spacing */
}

#posts #post {
    justify-content: center;
    text-align: center;
    border: 2px solid #cc5500;
    border-radius: 5px;
    padding: 10px; /* Optional: Add padding inside each post */
}


#post a {
    text-decoration: none;
    color: inherit;
}